<!DOCTYPE html>
<html lang="en">
<head>
    <title>PlanChecker</title>
    <link rel="icon" type="image/png" href="/assets/document-node.png">

    <script src="/assets/jquery-2.2.4.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/planchecker.js"></script>

    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/planchecker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("planTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 2; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (parseFloat(x.innerHTML.toLowerCase()) > parseFloat(y.innerHTML.toLowerCase())) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (parseFloat(x.innerHTML.toLowerCase()) < parseFloat(y.innerHTML.toLowerCase())) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<!-- NAVBAR START -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/assets/document-node.png" style="display:inline; width:20px;" /> PlanChecker</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="hidden" id="planRef"><a id="planRefLink" href="/plan/%[3]s">%[3]s</a></li>
                <p id="bookmarkMsg" class="navbar-text hidden"><i class="fa fa-arrow-left" aria-hidden="true"></i> Bookmark this link to access the results</p>
                <li class="hidden" id="planSave"><button class="btn btn-primary navbar-btn" onclick="savePlan()">Save Plan<span id="saveSpinner" class="hidden">&nbsp<i class="fa fa-spinner fa-spin" style="font-size:12px">&nbsp;</i></span></button></li>
            </ul>
        </div>
    </div>
</nav>
<!-- NAVBAR END -->

<!-- CONTAINER START -->
<div class="container-fluid">
    <!-- ROW START -->
    <div class="row">
        <!-- COL START -->
        <div class="col-xs-12">

            <div class="plan">%[1]s</div>

            <p class="text-muted" style="margin-top:20px;"><em>Note: The aim of PlanChecker is to highlight common causes of performance issues. No guarantee can be given that correcting these warnings will definitely increase query performance.</em></p>

        </div>
        <!-- COL END -->
    </div>
    <!-- ROW END -->

</div>
<!-- CONTAINER END -->

<script>
    planRef = "%[3]s";
    planTextBase64 = "%[2]s";
</script>

</body>
</html>
